@use "../../styles/utility/mixins";

.form {
  --btn-text-clr: #e5e7eb;

  display: flex;
  flex-direction: column;
  gap: 16px;
  
  .form__submitBtn {
    align-self: end;
    transition: 0.3s var(--btn-easing);
    background-color: var(--primary-clr);
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    color: var(--btn-text-clr);
    transition: 0.3s var(--btn-easing);
    cursor: pointer;
  }

  .form__submitBtn:hover {
    scale: 1.05;
  }

  .form__submitBtn:active {
    scale: 0.95
  }
}

@media (max-width: 450px) {
  .form {
    padding: 14px;
    gap: 10px;

    .form__submitBtn {
      align-self: stretch;
    }
  }
}