# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store         # macOS
Thumbs.db         # Windows

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# dotenv environment variables file
.env

# Typescript compiled files (if using TypeScript)
*.tsbuildinfo

# SASS/SCSS cache
.sass-cache/

# Miscellaneous IDE and editor files
.vscode/
.idea/

# Mac OS Finder files
.AppleDouble
.LSOverride