@use "./utility/_reset.scss";
@use "./utility/variables" as var;

:root {
  --bg-clr: #f9fafb;
  --text-clr: #1f2937;
  --secondary-text-clr: #4b5563;
  --surface-clr: #abb7c9;
  --primary-clr: #4338ca;
  --star-gold: #facc15;
  --shadow-alpha: 0.1;
  --btn-easing: linear(
    0,
    0.49 7.4%,
    0.864 15.3%,
    1.005 19.4%,
    1.12 23.7%,
    1.206 28.1%,
    1.267 32.8%,
    1.296 36.4%,
    1.311 40.2%,
    1.313 44.2%,
    1.301 48.6%,
    1.252 56.9%,
    1.105 74.4%,
    1.048 82.5%,
    1.011 91.1%,
    1
  );
}

[data-theme="dark"] {
  --bg-clr: #121212;
  --text-clr: #e5e7eb;
  --secondary-text-clr: #9ca3af;
  --shadow-alpha: 0.3;
}

body {
  background-color: var(--bg-clr);
  color: var(--text-clr);
  transition: 0.3s ease-in-out;
  font-family: Inter, sans-serif;
}
