@mixin br-bs {
  padding: 24px;
  margin-inline: 15px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, var(--shadow-alpha)),
    0 4px 6px -1px rgba(0, 0, 0, var(--shadow-alpha));
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

@mixin input {
  padding: 7px 15px;
  background-color: var(--bg-clr);
  border: 1px solid var(--surface-clr);
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  font-weight: 400;
}

@mixin btn-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
